.services{
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: start;
  justify-content: space-between;
  position: relative;
  padding-top: 5px;
  gap: 10px;

.service{
width: calc((100% / 4) - 50px);
min-width: 300px;
padding: 5px 10px;
border-radius: 4px;
color: var(--dark);
cursor: pointer;
margin: 10px 0;

img {
  width: 150px;
  max-height: 150px;
  object-fit: fill;
  object-position: center;
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 5px;
}

a {
  display: inline-block;
  padding-top: 10px;
  color: var(--dark-blue);
  text-transform: uppercase;
  font-weight: bold;
  display: none;
  &:hover i {
    margin-left: 10px;
  }
}


@media screen and (max-width: 480px) {
    width: 100%;
}

//@media screen and (max-width: 693px){
@media screen and (max-width: 789px) {
    &{
        width: calc(100% / 2);
    }
}

&:hover{
  box-shadow: var(--shadow);
}

}
}
