.featured{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    .wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 10px;
        .item{
            width: 100%;
            max-width: 300px;
            box-shadow: var(--shadow);   
            padding: 20px 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            cursor: pointer;
            img{
                width: 80px;
                height: 80px;
                object-fit: fill;
                margin: 5px 10px;
        
            }

            &:hover{
                box-shadow: var(--dark-shadow);
            }

            @media screen and (max-width:480px){
                &{
                    max-width: 100%;
                }
            }
        }
    }
}
